<h1><%= @coach.name %></h1>
Current Players:  <% @coach.current_players.each do |player|  %>
                    <%= link_to player.name, player_path(player.slug) %>
                  <% end %><br/>
Previous Players: <% @coach.previous_players.each do |player| %>
                    <%= link_to player.name, player_path(player.slug) %>
                  <% end %>
