<h1><%= @player.name %></h1>
    <%= @player.status %> with <%= @player.teams.first.name %><br/>
    Current Coaching Staff: <%= @player.teams.first.coaches.first.name %>
    Previous Head Coaches: <%#= @player.teams.first.coaches.first.name %>
